<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<h2>Категория: {{ category.name }}</h2>

<div style="display: flex; flex-wrap: wrap;">
  {% for product in products %}
    <div style="border: 1px solid #ddd; padding: 10px; margin: 10px; width: 200px;">
      <h3>{{ product.name }}</h3>
      {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100%;">
      {% endif %}
      <p>Цена: {{ product.price }}₽</p>
    </div>
  {% empty %}
    <p>В этой категории пока нет товаров.</p>
  {% endfor %}
</div>
{% endblock %}
</body>
</html>

