{% extends 'base.html' %}
{% block content %}
<h2>Ваша корзина</h2>

{% if cart_items %}
  <ul>
    {% for item in cart_items %}
      <li>
        <img src="{{ item.product.image.url }}" width="100">
        <strong>{{ item.product.name }}</strong>
        — {{ item.quantity }} шт.
        — {{ item.subtotal }} ₽
        <a href="{% url 'remove_from_cart' item.product.id %}">Удалить</a>
      </li>
    {% endfor %}
  </ul>
  <p><strong>Итого:</strong> {{ total }} ₽</p>

  <form method="post" action="{% url 'checkout' %}">
    {% csrf_token %}
    <button type="submit">Оформить заказ</button>
  </form>
{% else %}
  <p>Корзина пуста.</p>
{% endif %}

{% endblock %}
