{% extends 'base.html' %}
{% block content %}
<h2>Мои заказы</h2>

{% if orders %}
  {% for order in orders %}
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 15px;">
      <strong>Заказ №{{ order.id }}</strong><br>
      Дата: {{ order.created_at|date:"d.m.Y H:i" }}
      <ul>
        {% for item in order.items.all %}
          <li>
            {{ item.product.name }} — {{ item.quantity }} шт.
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% else %}
  <p>Вы ещё не оформляли заказы.</p>
{% endif %}

{% endblock %}
